  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
    <!--
      <a id="logo-container" href="#" class="brand-logo">
        {{($ctrl.lang == 'zh')?$ctrl.text.title.value_zh:$ctrl.text.title.value}}

      </a>
  -->
      <ul class="right hide-on-med-and-down">
        <li></li>
        <li ng-repeat="catalog in $ctrl.catalogs">
          <a href="#!/catalog/{{catalog.id}}">
            {{($ctrl.lang == 'zh')?catalog.name_zh:catalog.name}}
          </a>
        </li>
        <li ><img ng-click="$ctrl.setLang('en')" src="/app/img/Canada.png"/></li>
        <li ><img ng-click="$ctrl.setLang('zh')" src="/app/img/China.png"/></li>        
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li ng-repeat="catalog in $ctrl.catalogs">
          <a href="#!/catalog/{{catalog.id}}">
            {{($ctrl.lang == 'zh')?catalog.name_zh:catalog.name}}

          </a>
        </li>

        <li ><img ng-click="$ctrl.setLang('en')" src="/app/img/Canada.png"/></li>
        <li ><img ng-click="$ctrl.setLang('zh')" src="/app/img/China.png"/></li>

      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>





<!--

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="#">{{($ctrl.lang == 'zh')?$ctrl.text.title.value_zh:$ctrl.text.title.value}}</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">{{($ctrl.lang == 'zh')?$ctrl.text.home.value_zh:$ctrl.text.home.value}}</a></li>
        <li ng-repeat="catalog in $ctrl.catalogs">
          <a href="#!/catalog/{{catalog.id}}">
          {{($ctrl.lang == 'zh')?catalog.name_zh:catalog.name}}<span class="flag-icon flag-icon-gr"></span>

          </a>
        </li>
        <li></li>

      </ul>

      <ul class="nav navbar-nav navbar-right">

        <li ><img ng-click="$ctrl.setLang('en')" src="/app/img/Canada.png"/></li>
        <li ><img ng-click="$ctrl.setLang('zh')" src="/app/img/China.png"/></li>
      </ul>
    </div>
  </div>
</nav>
-->