<div class="container" id="product-section">
  <div class="row">
   <div class="col-md-6">
     <img class="img-responsive"
      src="{{$ctrl.product.image1}}"
      alt="Kodak Brownie Flash B Camera"
     />
   </div>
   <div class="col-md-6">
     <div class="row">
       <div class="col-md-12">
         <h1>{{($ctrl.lang == 'zh')?$ctrl.product.name_zh:$ctrl.product.name}}</h1>
       </div>
     </div>

     <!--
    <div class="row">
     <div class="col-md-12">
      <span class="label label-primary">Vintage</span>
      <span class="monospaced">No. 1960140180</span>
     </div>
    </div> end row -->   
    
    <div class="row">
     <div class="col-md-12">
      <p class="description">
       {{($ctrl.lang == 'zh')?$ctrl.product.description_zh:$ctrl.product.description}}
      </p>
     </div>
    </div><!-- end row -->
  <!-- 
    <div class="row">
     <div class="col-md-3">
      <span class="sr-only">Four out of Five Stars</span>
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
      <span class="label label-success">61</span>
     </div>
     <div class="col-md-3">
      <span class="monospaced">Write a Review</span>
     </div>
    </div>end row -->

    <div class="row">
     <div class="col-md-12 bottom-rule">
      <h2 class="product-price">
      {{($ctrl.lang == 'zh')?$ctrl.text.price.value_zh:$ctrl.text.price.value}}:
      {{($ctrl.lang == 'zh')?('¥'+($ctrl.product.price*5.3).toFixed(0)):('$CAD'+$ctrl.product.price)}}</h2>
     </div>
    </div><!-- end row -->
    <!--
    <div class="row add-to-cart">
     <div class="col-md-5 product-qty">
      <span class="btn btn-default btn-lg btn-qty">
       <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </span>
      <input class="btn btn-default btn-lg btn-qty" value="1" />
      <span class="btn btn-default btn-lg btn-qty">
       <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
      </span>
     </div>
     
     <div class="col-md-4">
      <button class="btn btn-lg btn-brand btn-full-width">
      {{'Add to Cart' | translate }} 
      </button>
     </div>
     
    </div>
    
    <div class="row">
    
     <div class="col-md-4 text-center">
      <span class="monospaced" ng-if="$ctrl.product.stock">{{'In Stock' | translate }} </span>
      <span class="monospaced" ng-if="!$ctrl.product.stock">{{'No Stock' | translate }} </span>
    
     </div>
     
    </div>
    -->
    <!-- end row -->
    <div class="row">
     <div class="col-md-12 bottom-rule top-10">
     {{($ctrl.lang == 'zh')?$ctrl.text.specification.value_zh:$ctrl.text.specification.value}}:
       {{($ctrl.lang == 'zh')?$ctrl.product.specification_zh:$ctrl.product.specification}}
     </div>
    </div>

    <div class="row">
     <div class="col-md-12 bottom-rule top-10">
     {{($ctrl.lang == 'zh')?$ctrl.text.made_in.value_zh:$ctrl.text.made_in.value}}:
       {{($ctrl.lang == 'zh')?$ctrl.product.made_in_zh:$ctrl.product.made_in}}
     </div>
    </div>

  </div><!-- end row -->
 </div><!-- end container -->

